$is-dev: false !default;

$breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
  // Tweakpoints
  desktopAd: 810px,
  mobileLandscape: 480px,
);

// $is-dev is passed via @use with() from nuxt.config.ts
$show-breakpoints: if($is-dev, (mobile, mobileLandscape, tablet, desktop, wide), ());

@use 'mq' with (
  $breakpoints: $breakpoints,
  $show-breakpoints: $show-breakpoints
);

@forward 'mq';